<ion-header>
    <ion-navbar>
        <ion-title>{{ "Details for" | translate }} {{paramData.VehicleName}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let d of ddata;">
        <ion-card-content>
            <ion-row>
                <ion-col col-6 style="font-size:13px;text-align:justify;">{{d.switch}}</ion-col>
                <ion-col col-6 style="font-size:13px;text-align:justify;">
                    {{d.timestamp | date:'medium'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">{{ "ON/OFF" | translate }}</ion-col>
                <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">{{ "Time" | translate }}</ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

</ion-content>
